<div>
    <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full mb-7">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="map-input">
                Enter Location
            </label>
            <input
              class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              (keydown.enter)="$event.preventDefault()"
              placeholder="Search Nearest Location"
              autocorrect="off"
              autocapitalize="off"
              spellcheck="off"
              type="text"
              #search
              />
        </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-1/2">
            <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
            <agm-marker
              [latitude]="latitude"
              [longitude]="longitude"
              [markerDraggable]="true"
              (dragEnd)="markerDragEnd($event)"></agm-marker>
            </agm-map>
        </div>
        <div class="w-1/2">
            <h5 class="tracking-wide text-gray-700 text-xs font-bold uppercase mb-4">Recently Searched Places</h5>

            <div class="list-decimal" *ngIf="recentlySearchedPlaces.length > 0; else noData">
                <div *ngFor="let place of recentlySearchedPlaces; let i = index;">
                    <div class="tracking-wide text-gray-700 text-xs mb-2">
                        <span *ngIf="i < 7">{{ i+1 }} - {{ place.address }}</span>
                    </div>
                </div>
            </div>
            <ng-template #noData>
                <p class="tracking-wide text-gray-700 text-xs">Not Found.</p>
            </ng-template>
        </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full mb-10">
            <h5 class="tracking-wide text-gray-700 text-xs font-bold uppercase">Address: {{address}}</h5>
            <div>Latitude: {{latitude}}</div>
            <div>Longitude: {{longitude}}</div>
        </div>
    </div>
</div>