<main class="min-h-screen flex flex-col font-sans bg-gray-300">
  <app-navbar></app-navbar>
  <div class="flex-grow container mx-auto p-2 mt-12 mb-12">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</main>